.rd-container {
  display: none;
  background-color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,.2);

}
.rd-container-attachment {
  position: absolute;
}
.rd-month {
  display: inline-block;
  margin-right: 25px;
}
.rd-month:last-child {
  margin-right: 0;
}

.rd-month-label{
  background-color: var(--amarillo-color);
  padding: 0.5rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

}
.rd-days-head{
  background-color: var(--main-color);
  color: white;
}

.rd-back,
.rd-next {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding-top: 0.4rem;
  margin: 0;

}
.rd-back[disabled],
.rd-next[disabled] {
  cursor: default;
}
.rd-back {
  float: left;
  margin-left: 10px;
}
.rd-next {
  float: right;
  margin-right: 10px;
}
.rd-back:before {
  display: block;
  content: '\2190';
}
.rd-next:before {
  display: block;
  content: '\2192';
}
.rd-day-body {
  cursor: pointer;
  text-align: center;
  width: 50px;
  height: 50px;
  text-align: center;
}
.rd-day-body:hover{
  background-color: grey;
  border-radius: 50%;
  color: white;
}

.rd-day-selected,
.rd-time-selected,
.rd-time-option:hover {
  cursor: pointer;
  background-color: var(--amarillo-color);
  color: #fff;
  border-radius: 50%;
}
.rd-day-prev-month,
.rd-day-next-month {
  color: #999;
}
.rd-day-disabled {
  cursor: default;
  color: #fcc;
}
.rd-time {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  min-width: 80px;
}
.rd-time-list {
  display: none;
  position: absolute;
  overflow-y: scroll;
  max-height: 160px;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #333;
}
.rd-time-selected {
  padding: 5px;
}
.rd-time-option {
  padding: 5px;
}
.rd-day-concealed {
  visibility: hidden;
}