@import "datepicker.css";

*{
	margin:0;
	padding: 0;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/*Paleta de colores*/
:root{
	--main-color: #2F6169;
	--verde-color: #89E218;
	--naranja-color: #EC571E;
}

html{
	background-color: #F4D4C2;
}

.fondo{
	background-color: var(--main-color)
;}

.navbar-color {
	background-color: var(--main-color);
}

.animacion-border{
    position: relative;
}

.animacion-border:hover{
	color: var(--naranja-color) !important;
}

.animacion-border:after{
    content: '';
    position: absolute;
    border-bottom: 3px solid white;
    bottom: 0;
    left: 0;
    right: 50%;
    transition: all 500ms;
}

.animacion-border:hover:after{
    right: 0;
    border-bottom: 3px solid var(--naranja-color);
}

header{
	background-image: url('../burger.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #669999;
}

.separador{
  border-top: 8px solid white;
  border-radius: 5px;
  height: 5%;
}

.text-strech{
	transform:scale(1,2);
}

hr{
	margin-left: auto !important;
	margin-right: auto !important;
	width: 90px;
	border-top-width: 2px !important;
	color: white !important;
	height: 5px !important;
	border-radius: 4px;
	opacity: 1 !important;
}

.boton-oscuro{
	background-color: transparent !important;
	color: black !important;
	border: 2px solid black !important;
}

.boton-oscuro:hover{
	background-color: black !important;
	color: white !important;
}

.boton-blanco{
	background-color: white !important;
	color: black !important;
	border: 2px solid transparent !important;
}

.boton-blanco:hover{
	background-color: transparent !important;
	color: white !important;
	border: 2px solid white !important;
}


.efecto-hover:hover{
	color: var(--verde-color);
}

.fondo-naranja{
	background-color: var(--naranja-color);
}

.list-item{
	list-style-type: none;
}

.espacio-icono{
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
}

.fondo-tabla{
	background-image: url('../tabla.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #669999;

}

@media (min-width: 1px) and (max-width: 768px)  {
	
.orden-mesa{
	position: relative;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.orden-mesa::after{
	content: '';
	display: block;
	position: absolute;
	bottom: -40px;
	border-top: 20px solid var(--main-color);
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	border-bottom: 20px solid transparent;
	right: calc(50% - 20px); 
}
}

@media (min-width: 768px) and (max-width: 992px){

.orden-mesa{
	padding-top: 1rem;
}
}

@media (min-width: 992px) and (max-width: 2400px){

.orden-mesa{
	padding-top: 6rem;
}

}

