@import "datepicker.css";

*{
	margin:0;
	padding: 0;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/*Paleta de colores*/
:root{
	--main-color: #262626;
	--rojo-color: #A6343E;
	--amarillo-color: #FEA42C;
}

body{
	font-family: 'Big+Shoulders+Display' !important;
}

.fondo{
	background-color: var(--main-color);
	transition: all 1000ms;
}

.margen-derecha{
	margin-right: 5rem;
}

.menu-color{
	background-color: var(--rojo-color);
	transition: all 1000ms;
}

.animacion-border{
    position: relative;
}

.animacion-border:hover{
	color: var(--amarillo-color) !important;
}

.animacion-border:after{
    content: '';
    position: absolute;
    border-bottom: 3px solid white;
    bottom: 0;
    left: 0;
    right: 50%;
    transition: all 500ms;
}

.animacion-border:hover:after{
    right: 0;
    border-bottom: 3px solid var(--amarillo-color);
}

header{
	background-image: url('../img/burger.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: var(--amarillo-color);
}

.separador{
  border-top: 8px solid white;
  border-radius: 5px;
  height: 5%;
}

.efecto-hover:hover{
	color: var(--rojo-color);
}
.text-strech{
	transform:scale(1,2);
	letter-spacing: 4px;
}

hr{
	margin-left: auto !important;
	margin-right: auto !important;
	width: 90px;
	border-top-width: 2px !important;
	color: white !important;
	height: 5px !important;
	border-radius: 4px;
	opacity: 1 !important;
}

.boton-oscuro{
	background-color: transparent !important;
	color: black !important;
	border: 2px solid var(--rojo-color) !important;
}

.boton-oscuro:hover{
	background-color: var(--rojo-color) !important;
	box-shadow: 0 0 5px var(--rojo-color), 
	0 0 20px var(--rojo-color), 0 0 40px var(--rojo-color) !important;
	color: white !important;
}

.boton-claro{
	background-color: transparent !important;
	color: white !important;
	border: 2px solid var(--amarillo-color) !important;

}

.boton-claro:hover{
	background-color: var(--amarillo-color) !important;
	color: white !important;
	box-shadow: 0 0 5px var(--amarillo-color), 
	0 0 20px var(--amarillo-color), 0 0 40px var(--amarillo-color) !important;
}

.boton-tabla{
	background-color: white !important;
	color: black !important;
	border: 2px solid transparent !important;
}

.boton-tabla:hover{
	background-color: transparent !important;
	color: white !important;
	border: 2px solid white !important;
}

.fondo-oferta{
	background-color: var(--rojo-color);
}

.linea-divisora{
	border-top: 10px solid var(--amarillo-color);
}

@keyframes moverderecha{
	0%{
		transform: translate(100%);
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes moverizquierda{
	0%{
		transform: translate(-100%);
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes moverarriba{
	0%{
		transform: translateY(100%);
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes moverabajo{
	0%{
		transform: translateY(-100%);
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.zoom {
	transition: .2s ease;
}
.zoom:hover {
	transform : scale(1.5);
}

.list-item{
	list-style-type: none;
}

.espacio-icono{
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
}

.fondo-tabla{
	background-image: url('../img/tabla.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--amarillo-color);
}

@media (min-width: 1px) and (max-width: 768px)  {
	
.orden-mesa{
	position: relative;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.orden-mesa::after{
	content: '';
	display: block;
	position: absolute;
	bottom: -40px;
	border-top: 20px solid var(--main-color);
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	border-bottom: 20px solid transparent;
	right: calc(50% - 20px); 
}
}

@media (min-width: 768px) and (max-width: 992px){

.orden-mesa{
	padding-top: 1rem;
}
}

@media (min-width: 992px) and (max-width: 2400px){

.orden-mesa{
	padding-top: 6rem;
}
}

.menu-card{
	position: relative;
}

.menu-card:after{
    content: url('../img/Estrella.svg');
    position:absolute;
    left: -15%;
    top: -10%;

}

.form-control{
	border: 0px !important;
	border-top-right-radius: 24px !important;
	border-bottom-right-radius: 24px !important;
}

.form-control:focus {
	box-shadow: 0 0 0 0.2rem var(--amarillo-color) !important;
}

.radius-form{
	border-radius: 24px !important;
}

.radius-form:focus{
	box-shadow: 0 0 0 0.2rem var(--amarillo-color) !important;
}