*{
	margin:0;
	padding: 0;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/*Paleta de colores*/
:root{
	--main-color: #2F6169;
	--verde-color: #89E218;
	--naranja-color: #EC571E;
}

html{
	background-color: #F4D4C2;
}

.fondo{
	background-color: var(--main-color)
;}

.navbar-color {
	background-color: var(--main-color);
}

.animacion-border{
    position: relative;
}

.animacion-border:hover{
	color: var(--naranja-color) !important;
}

.animacion-border:after{
    content: '';
    position: absolute;
    border-bottom: 3px solid white;
    bottom: 0;
    left: 0;
    right: 50%;
    transition: all 500ms;
}

.animacion-border:hover:after{
    right: 0;
    border-bottom: 3px solid var(--naranja-color);
}

header{
	background-image: url('img.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}

.separador{
  border-top: 8px solid white;
  border-radius: 5px;
  height: 5%;
}

hr{
	margin-left: auto !important;
	margin-right: auto !important;
	width: 90px;
	border-top-width: 2px !important;
	color: white !important;
	height: 5px !important;
	border-radius: 4px;
	opacity: 1 !important;
}

.boton-oscuro{
	background-color: white !important;
	border-radius: 8px;
	color: black !important;
	font-size: 1rem !important;
	border: 2px solid transparent !important;
}

.boton-oscuro:hover{
	background-color: black !important;
	color: white !important;
	border: 2px solid white !important;
}

.boton-claro{
	background-color: black !important;
	border-radius: 8px;
	color: white !important;
	font-size: 1rem !important;
	border: 2px solid transparent !important;
}

.boton-claro:hover{
	background-color: white !important;
	color: black !important;
	border: 2px solid black !important;
}


.efecto-hover:hover{
	color: var(--verde-color);
}

.fondo-naranja{
	background-color: var(--naranja-color);
}